
div.formBlock {
    position: relative;
    margin: 0% 10%;
    padding: 2%;
    width: 75%;
    height: 53%;
    background-color: #6090aa;
}

div.field {
    float: none;
}

div.fieldLabel {
    position: relative;
    margin: 1% 12%;
    width: 30%;
    padding: 0% 1%;
    border: 1px solid darkslategray;
    float: right;
}

div.fieldInput {
    position: relative;
    margin: 1% 0%;
    width: 30%;
    padding: 0% 1%;
    float: right;
}

div.button {
    clear: right;
    margin-right: 40%;
    width: 100%;
}

div.formButton {
    float: right;
    width: 20%;
}
input.button{
    width: 50%;
}